# CMake build directory
build
# Built executable from ./build.sh
noze

# Ignore executables in test/, but do include the .nz and .c files
# (cpp files are to ensure we know when compiler's output changes)
test
!test/**/*.nz
!test/**/*.c

# scons cache
.sconsign.dblite
*.o
